.ant-menu-sub {
  background-color: transparent !important;
}

.ant-table-wrapper th {
  color: #888 !important;
  background: none !important;
}

.ant-table-wrapper th::before {
  display: none;
}

.ant-drawer-mask {
  background-color: rgba(0, 0, 0, 0.15) !important;
  backdrop-filter: blur(4px);
}
