@import './reset.css';
@import './antd-reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
}

@layer components {
  .white-box {
    @apply bg-white p-6 xl:py-8 xl:px-14 rounded-lg;
  }
  .section-wrap {
    @apply max-w-screen-xl mx-auto white-box;
  }
  .text-btn {
    @apply px-4 py-2 text-brand bg-transparent hover:bg-brand-50 active:bg-brand-100 text-sm leading-none rounded cursor-pointer;
  }
  .line-1 {
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
